<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Account Created</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/style.css') }}">

</head>

<body>

<div class="form-container">

<div class="form-box">

<h2>✅ Account Created Successfully</h2>

<br>

<h3>Your Account Number</h3>

<h1 style="color:#0d6efd;">
{{ account_number }}
</h1>

<br>

<p>

Please save this Account Number.

You'll need it to login.

</p>

<br>

<a href="/login"
class="btn">

Go To Login

</a>

</div>

</div>

</body>

</html>