<!DOCTYPE html>
<html>
<head>

<title>Deposit Money</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="flash-message">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% endwith %}





<nav class="navbar">

<h2>🏦 Bank Management System</h2>

<div>

<a href="/dashboard">Dashboard</a>

<a href="/logout">Logout</a>

</div>

</nav>

<div class="form-container">

<form class="form-box" method="POST">

<h2>Deposit Money</h2>

<input
type="number"
step="0.01"
name="amount"
placeholder="Enter Amount"
required>

<button class="btn">

Deposit

</button>

</form>

</div>

</body>

</html>